<nav class="green darken3">
    <div class="nav-wraper container row">
        <a href="#" class="brand-logo  col-3"> Shop</a>
        <ul class="right">
            <ng-container *ngIf='authReady; else loading'>
                <ng-container *ngIf="allowNavigation">
                    <li> <a routerLink="/shop">Go Shoping</a></li>
                    <li> <a routerLink="/">Home</a></li>

                    <li><a class="btn-floating btn-middle center waves-effect waves-light red"
                            routerLink="/profile">{{userNameShort}}</a></li>
                    <li> <a (click)="logoutHandler()">Log Out</a></li>
                    <li class='cart-link'>
                        <a routerLink="/cart">
                            <i class="material-icons">shopping_cart</i>
                            <div *ngIf='ordersTotal>0' class="notification-badge"><span>{{ordersTotal}}</span></div>
                        </a>


                    </li>
                </ng-container>
                <ng-container *ngIf="!allowNavigation">
                    <li> <a routerLink="/login">Login</a></li>
                    <li> <a routerLink="/signup">Sign Up</a></li>
                </ng-container>
            </ng-container>
            <ng-template #loading>
                Loading...
            </ng-template>
        </ul>
    </div>
</nav>