<form [formGroup]="loginForm" class=" section container row" (submit)="loginHandler()" autocomplete="chrome-off">
    <div class="col s4 push-s4">
        <div class="input-field">
            <input id="email-field" formControlName="email" type="email" autocomplete="chrome-off">
            <label for="email-field">Email</label>
        </div>
        <div class="input-field">
            <input id="password-field" formControlName="password" type="password" autocomplete="chrome-off">
            <label for="password-field">Password</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn" [disabled]="loginForm.invalid">Login</button>
    </div>
</form>